# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Fabled-Warlords.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Projects\Fabled-Warlords\.idea\.idea.Fabled-Warlords\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
